!!!
%html{lang: "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{ name: "google", value: "notranslate" }
    %title= content_for?(:title) ? "CaH | #{ yield(:title) }" : "CaH"
    %meta{:content => content_for?(:description) ? yield(:description) : "Cards against humanity.", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag '//cdn.firebase.com/js/client/1.0.18/firebase.js'
    = csrf_meta_tags
  %body
    %a#top
    .navbar.navbar-default.navbar-static-top
      .container
        = render 'layouts/navigation'
    %main.main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
    %footer.footer
      .container
        = render "layouts/footer"
    = yield(:modal)
